@media screen and (min-width: 900px) {
    .grid-sizing {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .grid-sizing {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .grid-sizing {
        grid-template-columns: repeat(1, 1fr);
    }
}

.application-container {
    max-width: 80vw;
}

.back-btn {
    background-color: #b8b8b8;
    border-radius: 0.25rem;
    color: snow;
    padding: 0.5rem;
    text-transform: uppercase;
}

.back-btn:hover {
    box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}

.btn-off {
    background-color: lightgrey;
    border-radius: 0.25rem;
    color: snow;
    padding: 0.5rem;
    text-transform: uppercase;
}

.close-btn {
    color: white;
    cursor: pointer;
    padding: 0.25rem;
    transition: all 0.2s ease-in-out;
}

.close-btn :hover {
    color: red;
    box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}

.delete-btn {
    background-color: snow;
    border: 1px solid lightgrey;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-transform: uppercase;
}

.delete-btn:hover {
    box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}

.file-explorer {
    display: grid;
    gap: 1rem;
}

.form-control {
    margin: 1rem;
    padding: 0.5rem;
    width: 100%;
}

.footer {
    background-color: snow;
    bottom: 0px;
    padding: 0.5rem;
    width: 100%;
}

.footer-text {
    color: grey;
}

.item {
    align-items: center;
    background-color: hsl(0, 0%, 90%);
    border: 2px solid snow;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    height: 12rem;
    justify-content: center;
    padding: 0.5rem;
    position: relative;
    width: 12rem;
}

.landing {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 36px);
    padding: 1rem;
}

.modal {
    background-color: #252b31;
    border: 1px solid lightgrey;
    border-radius: 0.35rem;
    box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
    height: 15rem;
    left: 50%;
    margin-left: -12.5rem;
    margin-top: -10rem;
    position: absolute;
    top: 50%;
    width: 25rem;
    z-index: 2;
}

.modal-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.modal-body-text {
    color: snow;
}

.modal-header {
    background-color: #050c04;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.modal-header-text {
    color: snow;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-btn {
    transition: all 0.2s ease-in-out;
}

.nav-btn:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}

.navigation {
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    position: absolute;
    width: 100%;
}
